{% extends 'base.html' %}

{% block content %}
<h1>Hello world</h1>
<p>About</p>

<p>
    {{ my_text }}, {{ my_number }}
    {{ my_list }}
</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>
<ul>
{% for my_sub_item in my_list %}
    {% if my_sub_item == 123 %}
        <li>{{ forloop.counter }} - {{ my_sub_item|add:22 }}</li>
    {% elif my_sub_item == "ABC" %}
        <li>{{ forloop.counter }} - What is that</li>
    {% else %}
        <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
    {% endif %}
{% endfor %}
</ul>
{% endblock content %}
